.dashboard-body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #1e1e1e;
}

.dashboard-body.hl_loading {
    height: 100%;
    position: absolute;
    width: 100%;
}
.hl_loading .hl_wrap {
	visibility: hidden;
}
.dashboard-body * {
	box-sizing: border-box;
}
.dashboard-body a:focus,
.dashboard-body a:active {
	box-shadow: none !important;
}
.hl_app_bar {
    position: absolute;
    background-color: #404040;
    color: #ccc;
    left: 0;
    right: 0;
    top: 0;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid black;
}
.hl_container {
	position: absolute;
    left: 0;
    right: 0;
    top: 38px;
    bottom: 0;
    padding-top: 20px;
}
.hl_vs-dark .hl_container p {
    color: #d4d4d4;
}
.hl_vs .hl_container {
    background-color: white;
}
.monaco-editor {
    /*padding-top: 20px;*/
}
.hl_app_bar a,
.hl_app_bar a:hover {
	color: #00A4FD;
    margin: auto 4px;
}
.hl_app_bar a.hl_selected {
    color: inherit;
    cursor: default;
    text-decoration: none;
}

.hl_title {
    margin-left: 22px;
    margin-right: 10px;
    font-weight: bold;
    color: white;
}
.hl_title_leftpad {
    margin-left: 50px;
}

html .hl_spinner {
	margin-top: 140px;
}
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #00A4FD;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}